a {
  color: #4e9f75;
  &:hover {
    color: black;
  }
}

.champs {
border-radius: 4px;
width: 400px;
height: 50px;


}

.btn {
color: white;
background-color: #347366;
border-radius: 4px;
width: 100px;
height: 50px;

}

h1 {
font-size:40px;
color: #347366;

}

h2 {
color: #347366;
font-size: 20px;
}
